<h1>National Parks</h1>
<% @parks.each do |park| %>
	<h3><%= park.name %></h3>
	<p>Location: <%= park.location %></p>
	<p>National Park Pass Required: <%= park.national_park_pass %></p>
  <br>
<% end %>
