<h1>Hiking Trails</h1><br>

<% @hikes.each do |hike| %>
  <h3><%= hike.name %></h3>
  <p>Length: <%= hike.length_miles %> miles</p>
  <p>Open: <%= hike.open %></p>
  <p>Park ID: <%= hike.park_id %></p>
  <br>
<% end %>
